<div class="navbar navbar-expand-sm navbar-light justify-content-between navbar-pages">

  <ul class="navbar-nav mr-auto">
  <li>
    <%= link_to "TuneHub", root_path, class: "navbar-brand" %>
  </li>
  <% if user_signed_in? %>
<%# ** SEARCH BAR FOR BANDS#INDEX --> FIND A BAND** %>
      <% if params[:controller] == "bands" && params[:action] == "index" %>
          <li class="search-bar" style="margin-left: 100px">
            <%= form_tag bands_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search..."
            %>
          </li>
          <% end %>
      <%# ** SEARCH BAR FOR BANDS#SHOW --> FIND A MUSIC ** %>
      <% elsif params[:controller] == "bands" && params[:action] == "show" %>
          <li class="search-bar" style="margin-left: 100px">
            <%= form_tag band_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search..."
            %>
          </li>
          <% end %>
      <%# ** SEARCH BAR FOR SONGS#SHOW --> FIND A PARTITION ** %>
      <% elsif params[:controller] == "songs" && params[:action] == "show" %>
          <li class="search-bar" style="margin-left: 100px">
            <%= form_tag band_song_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search..."
            %>
          </li>
          <% end %>
      <%# ** DISPLAY OF A FAKE SEARCH BAR FOR ALL OTHER PAGES -- DESIGN FIRST MASTA ** %>
      <% else %>
          <li class="search-bar" style="margin-left: 100px">
            <%= form_tag({}, {:method => :get}) do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search..."
            %>
          </li>
          <% end %>
      <% end %>
  <% end %>
  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>



        <li class="nav-item active">
          <%= link_to "Dashboard", bands_path, class: "nav-link dashboard" %>
        </li>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", bands_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link login" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
