<div>
  <div class="d-flex justify-content-between bg-white p-sticky-top">
    <div class="my-auto pl-5 pages-title">
      <h4>Modify - <%= @song.name %></h4>
    </div>
    <div class="d-flex justify-content-between">
      <div class="m-2 pr-3">
        <%= link_to "Back", :back, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="container card-form">
    <div class="form">
      <%= simple_form_for [@band, @song] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
