<div>
  <div class="d-flex justify-content-between bg-white p-sticky-top">
    <div class="my-auto pl-5 pages-title">
      <h4> <%= @band.name %> > <%= @song.name %> ></h4>
    </div>
    <div class="d-flex justify-content-between">
      <div class="m-2 pr-1">
        <%= link_to "New partition",  new_song_partition_path(@song.id), class: "btn btn-primary" %>
      </div>
      <div class="m-2 pr-3">
        <%= link_to "Song settings", edit_band_song_path(@song.band_id, @song.id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="m-5">
    <% @partitions.each do |partition| %>
      <%= link_to song_partition_path(partition.song_id, partition.id) do %>
        <div class="card-partition">
          <div class="d-flex align-items-start justify-content-between">
            <div class="mt-2 ml-2">
              <h4><%= partition.title %></h4>
              <p><%= partition.instrument %></p>
            </div>
            <div>
              <%= cl_image_tag partition.member.user.photo.key, class: "avatar-square-large m-2" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
