<div>
  <div class="d-flex justify-content-between bg-white p-sticky-top border-bottom">
    <div class="my-auto pl-5 pages-title">
      <h4>Dashboard</h4>
    </div>
    <div class="m-2 pr-3">
      <%= link_to "New band",  new_band_path, class: "btn btn-primary" %>
    </div>
  </div>
    <div class="card-deck m-5">
      <% @search_user_bands.each do |user_band| %>
        <div class="card-band">
          <a href="/bands/<%= user_band.id %>">
            <%= cl_image_tag user_band.photo.key %>
            <div class="card-band-infos">
              <h2 class="link-band"><%= user_band.name %></h2>
              <p><%= @members.where(band_id: user_band.id).count %><%= " members" %></p>
            </div>
          </a>
        </div>
      <% end %>
      <div class="card-new-band">
        <a href="/bands/new/">
          <i class="fas fa-plus-circle"></i>
        </a>
      </div>
  </div>
</div>
