<div>
  <div class="d-flex justify-content-between bg-white">
    <div class="m-2 pl-5">
      <h4>Create a new band</h4>
    </div>
    <div class="d-flex justify-content-between">
      <div class="m-2 pr-3">
        <%= link_to "back",  :back, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="m-5">
    <div class="card-form">
      <div class="form">
        <%= simple_form_for(@band) do |f| %>
          <%= f.input :name %>
          <%= f.input :photo,
                      as: :file,
                      required: true,
                      class: "btn btn-success" %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
