<div>
  <div class="d-flex justify-content-between bg-white">
    <div class="m-2 pl-5">
      <h4>Songs - <%= @band.name %></h4>
    </div>
    <div class="d-flex justify-content-between">
      <div class="m-2 pr-1">
        <form method="get" action="/bands/<%= @band.id %>/songs/new">
          <div><input value="New song" type="submit" class="btn btn-primary" /></div>
        </form>
      </div>
      <div class="m-2 pr-3">
        <form method="get" action="/bands/<%= @band.id %>/edit">
          <div><input value="Group settings" type="submit" class="btn btn-primary" /></div>
        </form>
      </div>
    </div>
  </div>
  <div class="song-card-container">
    <% @songs.each do |song| %>
      <div class="card-song">
        <div class="card-product-infos">
          <h2><%= song.name %></h2>
          <p><%= song.description %></p>
          <%= link_to 'PARTITIONS', band_song_path(song.band_id, song.id), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
