<div>
  <div class="d-flex justify-content-between bg-white">
    <div class="m-2 pl-5">
      <h4>Songs - <%= @band.name %></h4>
    </div>
    <div class="d-flex justify-content-between">
      <div class="m-2 pr-1">
        <form method="get" action="/bands/<%= @band.id %>/songs/new">
          <div><input value="New song" type="submit" class="btn btn-primary" /></div>
        </form>
      </div>
      <div class="m-2 pr-3">
        <form method="get" action="/bands/new">
          <div><input value="Group settings" type="submit" class="btn btn-primary" /></div>
        </form>
      </div>
    </div>
  </div>
  <div class="song-card-container">
    <% @songs.each do |song| %>
      <%= link_to band_song_path(song.band_id, song.id) do %>
        <div class="card-song">
          <div class="d-flex flex-nowrap">
            <div class="align-self-start">
              <h3><%= song.name %></h3>
              <p><%= song.description %></p>
            </div>
            <div class="align-self-end">
              <% if @songs.size + 1 == 1 %>
                <%= @songs.size + 1 %><%= " partition" %>
              <% else %>
                <%= @songs.size + 1 %><%= " partitions" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
