<div>
  <div class="d-flex justify-content-between bg-white p-sticky-top">
    <div class="my-auto pl-5 pages-title">
      <h4><%= @band.name %> ></h4>
    </div>
    <div class="d-flex justify-content-between">
      <div class="m-2 pr-1">
        <%= link_to "New song", new_band_song_path(@band.id), class: "btn btn-primary" %>
      </div>
      <div class="m-2 pr-1">
        <%= link_to "Band Settings", edit_band_path(@band.id), class: "btn btn-primary" %>
      </div>
      <div class="m-2 pr-3">
        <%= link_to 'See group members', band_members_path(@band.id),class: "btn btn-dark" %>
      </div>
    </div>
  </div>
  <div class="song-card-container">
    <% @songs.each do |song| %>
      <%= link_to band_song_path(song.band_id, song.id) do %>
        <div class="card-song">
          <div class="d-flex flex-nowrap">
            <div class="align-self-start">
              <h3><%= song.name %></h3>
              <p><%= song.description %></p>
            </div>
            <div class="align-self-end">
              <% if @songs.size + 1 == 1 %>
                <%= @songs.size + 1 %><%= " partition" %>
              <% else %>
                <%= @songs.size + 1 %><%= " partitions" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
