<div>
  <div class="d-flex justify-content-between bg-white p-sticky-top border-bottom">
    <div class="my-auto pl-5 pages-title">
      <h4>Create a new partition</h4>
    </div>
    <div class="d-flex justify-content-between">
      <div class="m-2 pr-3">
        <%= link_to "Back", :back, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="card-form m-5">
    <div class="form">
      <%= simple_form_for [@song, @partition] do |f| %>
        <%= f.input :title %>
        <%= f.input :instrument %>
        <%= f.input :member_id, collection: Member.where(band_id: @song.band_id), input_html: {class: "select2"} %>
        <%= f.input :audio,
                  as: :file,
                  required: true %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
