<div>
  <div class="d-flex justify-content-between bg-white p-sticky-top border-bottom">
    <div class="my-auto pl-5 pages-title">
      <h4><%= @band.name %> | <%= Song.find(params[:song_id]).name %> | <%= @partition.title %></h4>
    </div>
    <div class="m-2 pr-3">
      <%= link_to "Edit partition", edit_song_partition_path(@partition.song_id, @partition.id), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="m-5">
    <div class="row">
      <div class="col-8">
        <div>
          <% if @partition.audio.key %>
            <audio controls="controls" style="width: 100%;">
              <source src="<%= cloudinary_url(@partition.audio.key, resource_type: :video) %>" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          <% else %>
            <div class="card-form p-3">
              <h4 class="mb-3">Add your audio recording</h4>
              <div class="d-flex">
                <%= simple_form_for [@song, @partition] do |f| %>
                  <%= f.input :audio,
                              as: :file,
                              required: true %>
                  <%= f.submit "Save", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mt-2">
          <iframe src="https://flat.io/embed/<%= @partition.score %>?appId=612de5048b4cfc0013a41f0a" height="450" width="100%" frameBorder="0" allowfullscreen allow="midi"></iframe>
        </div>
      </div>
      <div class="col-4">
        <div  class="card-form p-1">
          <div class="form">
            <h4 class="p-3">Comments (<%= @comments.count %>)</h4>
            <div class="overflow-auto pr-3 pl-3 mt-2 mb-2" id="comments-scroll">
              <div >
                <ul style="list-style-type: none;" class="p-0">
                  <% @comments.each do |comment| %>
                    <li>
                      <div class="d-flex" id="comment-<%= comment.id %>">
                        <div class="align-self-center"><%= cl_image_tag comment.user.photo.key, class: "avatar mr-2" %></div>
                        <div class="card-body bg-gray text-dark-gray rounded-pill align-self-center p-2">
                          <div class="d-flex justify-content-between">
                            <div class="p-3">
                              <%= comment.content %>
                            </div>
                            <p>
                              <a class="badge bg-gray" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= comment.id %>" aria-expanded="false" aria-controls="collapse<%= comment.id %>"><i class="fas fa-reply text-light"></i></a>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex flex-row-reverse mb-3">
                        <div><%= comment.created_at.in_time_zone("Paris").to_formatted_s(:long) %></div>
                      </div>
                      <ul style="list-style-type: none;" class="pl-5">
                        <% @responses.where(comment_id: comment.id).each do |response| %>
                            <li>
                              <div class="d-flex" id="response-<%= response.id %>">
                                <div class="align-self-center"><%= cl_image_tag response.user.photo.key, class: "avatar mr-2" %></div>
                                <div class="card-body bg-gray text-dark-gray rounded-pill align-self-center p-2">
                                  <div class="d-flex justify-content-between">
                                    <div class="p-3">
                                      <%= response.content %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="d-flex flex-row-reverse mb-3">
                                <div><%= response.created_at.in_time_zone("Paris").to_formatted_s(:long) %></div>
                              </div>
                            </li>
                        <% end %>
                      </ul>
                    </li>
                    <div class="collapse" id="collapse<%= comment.id %>">
                      <div class="pl-5 mb-3">
                        <%= simple_form_for([comment, @response]) do |f| %>
                          <%= f.input :content, placeholder: 'Add a response', label:false  %>
                          <div class="d-flex justify-content-end">
                            <%= f.submit class: "btn btn-primary", value: "Reply" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="p-4">
              <%= simple_form_for([@partition, @comment]) do |f| %>
                <%= f.input :content, placeholder: 'Add new comment', label:false %>
                <div class="d-flex justify-content-end">
                  <%= f.submit class: "btn btn-primary", value: "Send", remote: true %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
