<div>
  <div class="d-flex justify-content-between bg-white p-sticky-top border-bottom">
    <div class="my-auto pl-5 pages-title">
      <h4><%= @band.name %> | <%= Song.find(params[:song_id]).name %> | <%= @partition.title %></h4>
    </div>
    <div class="m-2 pr-3">
      <%= link_to "Edit partition", edit_song_partition_path(@partition.song_id, @partition.id), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="m-5">
    <div class="row">
      <div class="col-8">
        <div>
          <% if @partition.audio.key %>
            <audio controls="controls" style="width: 100%;">
              <source src="<%= cloudinary_url(@partition.audio.key, resource_type: :video) %>" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          <% else %>
            <div class="card-form">
              <div class="d-flex">
                <%= simple_form_for [@song, @partition] do |f| %>
                  <%= f.input :audio,
                              as: :file,
                              required: true %>
                  <%= f.submit "Add audio recording", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mt-2">
          <iframe src="https://flat.io/embed/<%= @partition.score %>?appId=612de5048b4cfc0013a41f0a" height="450" width="100%" frameBorder="0" allowfullscreen allow="midi"></iframe>
        </div>
      </div>
      <div class="col-4">
        <div  class="card-form p-1">
          <div class="form">
            <h3 class="p-3">Comments (<%= @comments.count %>)</h2>
            <div class="overflow-auto pr-3 pl-3 mt-2 mb-2" id="comments-scroll">
              <div id="comments" data-partition-id="<%= @partition.id %>">
                <ul style="list-style-type: none;" class="p-0" id="rep">
                  <% @comments.each do |comment| %>
                    <%= render "comments/comment", comment: comment %>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="p-4"  id="rep">
              <%= simple_form_for([@partition, @comment]) do |f| %>
                <%= f.input :content, placeholder: 'Add new comment', label:false %>
                <div class="d-flex justify-content-end">
                  <%= f.submit class: "btn btn-primary", value: "Send", remote: true %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
