<!DOCTYPE html>
<html>
  <head>
    <title>Tunehub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <%= render 'shared/navbar-home' %>
      <%= yield %>
    <% elsif !current_user.nil? %>

        <div class="sticky-top"><%= render 'shared/navbar' %></div>
        <div class="container-page">

          <%= render 'shared/sidebar', user_bands: @user_bands %>

          <div class="content-page">
            <%= yield %>
          </div>
        </div>

    <% else %>
      <%= render 'shared/navbar' %>
      <%= yield %>
    <% end %>
    <%= render 'shared/flashes' %>
  </body>
</html>
